# ===== PostgreSQL =====
# Пользователь и пароль суперпользователя БД
# В dev можно использовать те же значения, что в примере, в prod - обязательно изменить
POSTGRES_USER=tms
POSTGRES_PASSWORD=replace_me
# Имя БД, которая будет создана при первом запуске Postgres
POSTGRES_DB=postgres
# Порт, на который Postgres пробрасывается на хост
POSTGRES_PORT=5432

# ===== pgAdmin =====
# Логин и пароль для входа в http://localhost:5050
PGADMIN_EMAIL=admin@tms.com
PGADMIN_PASSWORD=admin
# Порт, на который pgAdmin пробрасывается на хост
PGADMIN_PORT=5050

# ===== NATS =====
# Клиентский порт брокера (для подключения микросервисов)
NATS_PORT=4222
# HTTP-порт для мониторинга NATS (http://localhost:8222)
NATS_MONITORING_PORT=8222